# SMTP config (example: Gmail / other SMTP provider)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587          # 465 if you use SSL
SMTP_USER=your_smtp_username_or_email
SMTP_PASS=your_smtp_password_or_app_password

# Where you want to receive contact form emails
CONTACT_TO_EMAIL=your_destination_email@example.com

NEXT_PUBLIC_RESUME_LINK=ResumeLink

